.Header-Background {
    width: 100%;
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
}

.Header {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
}